.contenedor{
    display:grid;
    grid-template-areas: "cabezera"
                        "main"
                        "footer";
    grid-template-columns:100%;
    grid-template-rows: 3.5rem auto 0.9fr;
}