/*%btn_Card{
    text-align: center;
    //background-color: $color_button;
    font-size:$size_subtitle;
    font-family: $font_dacing;
}*/
%header_info{
            margin-left: 5rem;
            font-family:$Dancing;
            color: $color_text;
            text-decoration: none;
            font-size: $subtitle;

}