.cabezera{
    grid-area: cabezera;
    position: sticky;
    top: 0px;
    &__navegacion{
        background-color: $color_nav;
        .sub_menu{
            background-color: $color_text;
            margin-right: 1rem;
        }
        &--div{
            padding-right: 2rem;
        }
        a{
            text-decoration: none;
        }
        .imagen{
            margin-left: 1rem;
            font-family: $Dancing;
            color: $color_text;
            text-decoration: none;
            font-size: 1.5rem;
            &:hover{
                color: $color_text;
            }
        }
        li a{
            color:$color_text;
            font-family:$Inconsolata;
        }
        ul li{
            position: relative;
        }
        li a:hover{
            color:$color_hover;
        }
        li ul li a:hover{
            color:$color_hover;
            background-color:$color_nav;
        }
        &--ul--li--ul {
            background-color:$color_nav;
            & ul:hover{
                background-color:$color_trans;
            }
        }
    }
}
@media (min-width:1000px)
            {
                .navegacion{
                    ul li::before{
                        content:"";
                        height: 2px;
                        width: 0%;
                        background-color:$color_text;
                        position:absolute;
                        left: 0;
                        bottom: 0;
                        transition: 0.4s ease-out;
                    } 
                    ul li:hover::before{
                        width: 100%;
                    }
                
               }
            }