.main{
    grid-area: main;
    &__info{
        height:33rem;
    }
    &{
        background-image: url(../../img/portada/tienda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
    }
    &__presentation h1{
        font-size: $title;
        color:$color_text;
        text-decoration: solid;
        font-family: 'Inconsolata',monospace;
    }
    &__contenido p{
        font-size: $parafo;
        color:$color_text;
        text-decoration: solid;
        font-family: 'Inconsolata',monospace;
    }
}