//colores definidos para mi pagina 
$color:(
    color_nav:#120727,
    color_fotter:#120727,
    color_main:#6924A5,
    color_text:#FFFFFF,
    color_hover:#9a8080,
    color_trans:#6133b5,
    color_button:rgba(138, 72, 10, 0.918),
    color_card:#834de8
);
$font:(
    Dancing:'"Dancing Script", cursive',
    Inconsolata:'"Inconsolata", monospace'
);
$size:(
    title:3.5rem,
    subtitle:1.9rem,
    parafo:1.5rem
);