*{
    padding: 0px;
    margin: 0px;
    
}
/*General*/
.contenedor{
    display:grid;
    grid-template-areas: "cabezera"
                        "main"
                        "footer";
    grid-template-columns:100%;
    grid-template-rows: 3.5rem 8fr 0.2fr;
}
.cabezera{
    grid-area: cabezera;
    background-color: #120727;
    position: sticky;
    top: 0px;
}
.cabezera__navegacion{
    display: grid;
    grid-template-areas: "input checkbtn logo cabezera__navegacion--ul";
    grid-template-columns: 1px 1px 1fr 2fr;
    grid-template-rows: 100%;
}
.logo{
    grid-area: logo;
    background-color: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.cabezera__navegacion--ul{
    grid-area: cabezera__navegacion--ul;
    display: flex;
    justify-content: center;
    justify-content:space-around;
    padding-top:12px;
}
.input{
    grid-area: input;
    display: none;
}
.checkbtn{
    grid-area: checkbtn;
    position: absolute;
    left: 86%;
    font-size: 30px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
    top: 9%;

}
.main{
    grid-area: main;
}
.contactanos{
    grid-area: footer;
}
.cabezera__navegacion li
{
    display: inline-block;
    position: relative;
}
.cabezera__navegacion li a{
    color:#FFFF;
    font-family: 'Inconsolata', monospace;
}
.cabezera__navegacion ul li::before{
    content:"";
    height: 3px;
    width: 0%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;

}
.cabezera__navegacion ul li:hover::before{
width: 100%;
}
.cabezera__navegacion li a:hover
{
    color: rgb(26, 105, 189);
}
.cabezera__navegacion a{
    text-decoration: none;
}
.cabezera__navegacion ul li ul{
    position: absolute;
}
.cabezera__navegacion ul li ul li{
    display: block;
}
.cabezera__navegacion ul li ul{
    display: none;
}
.cabezera__navegacion ul li ul:hover{
    background-color: #120727;
}
.cabezera__navegacion ul li:hover > ul{
    display: block;
    font-family: 'Inconsolata', monospace;
}
/*index*/
.main{
    grid-area: main;
}
.main__info{
    background-image:url(../img/portada/tienda.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
}
.main__presentation{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.main__presentation h1{
    font-size: 3.5rem;
    color: #FFFF;
    text-decoration:solid;
    font-family: 'Inconsolata', monospace;
}
.main__presentation__title span{
    font-size: 100px;
    
}
.main__presentation__title span:hover{
    animation: saltar 1s infinite;
    display:inline-block;
    transform: translateY(0);
}
@keyframes saltar{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(100px);
    }
    80%{
        transform: translateY(110px);
    }
}
.main__contenido{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.main__contenido p{
    font-size: 1.5rem;
    color: #FFFF;
    text-decoration:solid;
    font-family: 'Inconsolata', monospace;
}
/*General*/
.footer
{
    grid-area: footer;
    background-color: #120727;
    position: sticky;
    bottom: 0px;
    display: inline-flex;
    justify-content: end;
    color: #FFFF;
}
.info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 30px;
}

.whatsapp__img,.facebook__img{
    display: flex;
    flex-direction: row;
}
.whatsapp__img,.facebook__img {
    align-items: center;
}
@media screen and (max-width:312px){

    .checkbtn{
        display: block;
    }
    .cabezera__navegacion--ul{
        position: fixed;
        width: 100%;
        height: 50vh;
        background:#120727;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    .cabezera__navegacion ul li{
        display: block;
        margin: 10px 0;
        line-height: 20px;
    }

    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left:0;
    }
    
}
/*Acerca de Nosotros*/
.section_content{
    display: grid;
    grid-area: "section_content_img section_content_info";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 100%;
}
.section_content_img{
    width: 300px;
    height: 300px;
    padding-top: 45px;
    padding-left: 65px;
}
.section_content_img img
{
    width: 100%;
    height: 100%;
}
.section_content_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}   
.section_content_info h1{
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
}
.section_content_info p{
    font-family: 'Inconsolata', monospace;
}
@media screen and (max-width:312px)
{
    .section_content{
        display: grid;
        grid-area: "section_content_img section_content_info";
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 100%;
    }
    .section_content_img{
        width: 220px;
        height: 220px;
        padding-top: 30px;
        padding-left: 40px;
    }
    .section_content_info h1{
        text-align: center;
        font-size: 3rem;
        font-family: 'Inconsolata', monospace;
    }
    .section_content_info p{
        text-align: center;
        font-family: 'Inconsolata', monospace;
    }
}
/*ofertas*/
.main_ofertas{
    display: flex;
    flex-wrap: wrap;
}
.main_ofertas_escolar{
    display: inline-flex;
    flex-direction: row;
    padding: 15px 15px 15px 12px;
}
.main_ofertas_escolar:hover{
    border: 1px solid #000000f7;
}
.main_ofertas_escolar_img{
    width: 200px;
    height: 200px;
}
.main_ofertas_escolar_img img{
    width: 80%;
    height: 80%;
    border:1px;
}
.main_ofertas_escolar_informacion{
    background-color: aqua;
}
.main_ofertas_escolar_informacion p{
    color:rgb(8, 57, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*Contactanos*/
.section_formulario{
    height: 700px;
}
.section_formulario_form{
    display:flex;
    justify-content: center;
    padding-top: 50px;  
}
.section_formulario_form label{
    font-size: 1.5em;
}
.section_formulario_form input{
    height: 25px;
    width: 200px;
}
.section_formulario_form input:hover{
    border: 15px solid darkblue;
}
/*utiles escolares*/
.main_utiles{
    display: flex;
    flex-wrap: wrap;
}
.main_utiles_escolar{
    display: inline-flex;
    flex-direction: row;
    padding: 15px 15px 15px 12px;
}
.main_utiles_escolar_img{
    width: 200px;
    height: 200px;
}
.main_utiles_escolar_img img{
    width: 80%;
    height: 80%;
    border:1px;
}
.main_utiles_escolar_informacion{
    background-color: aqua;
}
.main_utiles_escolar_informacion p{
    text-decoration:solid;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*Libros*/
.main_categorias h1{
    display: flex;
    justify-content: center;
}
.main_categorias_Ingles{
    display: flex;
    flex-wrap:wrap;
}
.main_categorias_Ingles1{

    display:inline-block;
    flex-direction: row;
    padding: 30px 30px 30px 30px;
}

.main_categorias_Ingles1_img{
    width: 200px;   
    height: 200px;
}
.main_categorias_Ingles1_img img{
    width: 100%;
    height: 100%;
}
.main_categorias_Ingles1_estado{
    width: 20px;
    height: 100px;
    background-color: darkblue;
}
