*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*General*/
.contenedor{
    display:grid;
    grid-template-areas: "cabezera"
                        "main"
                        "footer";
    grid-template-columns:100%;
    grid-template-rows: 3.5rem auto 0.9fr;
}
/*-------------------header------------------*/

.cabezera{
    grid-area: cabezera;
    position: sticky;
    top: 0px;
}
.cabezera__navegacion{
    background-color: #120727;
}
.sub_menu{
    background-color: white;
    margin-right: 1rem;
}
.cabezera__navegacion--div{
    padding-right: 2rem;
}
.imagen{
    margin-left: 1rem;
    font-family: 'Dancing Script', cursive;
    color: #FFFF;
    text-decoration: none;
    font-size: 1.5rem;
}
.imagen:hover
{
    color: #FFFF;
}

.cabezera__navegacion li a{
    color:#FFFF;
    font-family: 'Inconsolata', monospace;
}
.cabezera__navegacion a{
    text-decoration: none;
}
.cabezera__navegacion ul li
{
    position: relative;
}
.cabezera__navegacion li a:hover
{
    color: rgb(139, 175, 214);
}
.cabezera__navegacion li ul li a:hover{
    color: rgb(139, 175, 214);
    background-color: #120727;
}   
.cabezera__navegacion--ul--li--ul{
    background-color: #120727;
}

@media (min-width: 1000px){
    .navegacion ul li::before{
        content:"";
        height: 2px;
        width: 0%;
        background-color: white;
        position:absolute;
        left: 0;
        bottom: 0;
        transition: 0.4s ease-out;
    }
    .navegacion ul li:hover::before{
    width: 100%;
    }
}


/*-------------------main------------------*/
.main{
    grid-area: main;
}
.main__info{
    height: 23rem;
}
.main{
    background-image:url(../img/portada/tienda.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
}
.main__info{
    margin-top: 10rem;
}
.main__presentation h1{
    font-size: 3.5rem;
    color: #FFFF;
    text-decoration:solid;
    font-family: 'Inconsolata', monospace;
}

.main__contenido p{
    font-size: 1.5rem;
    color: #FFFF;
    text-decoration:solid;
    font-family: 'Inconsolata', monospace;
}
.footer
{
    grid-area: footer;
    background-color: #120727;
    position: sticky;
    bottom: 0px;
    color: #FFFF;
}
.info{
    margin-right: 1rem;
}
/*OFERTAS*/
.main_ofertas{
    display: flex;
    flex-wrap: wrap;
}
.main_ofertas_escolar{
    display: inline-flex;
    flex-direction: row;
    padding: 15px 15px 15px 12px;
}
.main_ofertas_escolar:hover{
    border: 1px solid #000000f7;
}
.main_ofertas_escolar_img{
    width: 200px;
    height: 200px;
}
.main_ofertas_escolar_img img{
    width: 80%;
    height: 80%;
    border:1px;
}
.main_ofertas_escolar_informacion{
    background-color: aqua;
}
.main_ofertas_escolar_informacion p{
    color:rgb(8, 57, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*Utiles escolares*/
.main_utiles{
    display: flex;
    flex-wrap: wrap;
}
.main_utiles_escolar{
    display: inline-flex;
    flex-direction: row;
    padding: 15px 15px 15px 12px;
}
.main_utiles_escolar_img{
    width: 200px;
    height: 200px;
}
.main_utiles_escolar_img img{
    width: 80%;
    height: 80%;
    border:1px;
}
.main_utiles_escolar_informacion{
    background-color: aqua;
}
.main_utiles_escolar_informacion p{
    text-decoration:solid;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*-----------------------------Libros-----------------------------------*/
.main_categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;}
.main_categorias article{
    position: inherit;
    margin: 1rem 1rem 1rem 1rem;
    background-color:rgb(228, 172, 29);
}
.main_categorias article:hover{
    border: 2px solid black;
}
.card_student{
    max-width: 540px;
}
.card_student_img{
    max-width:300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card_student_img img{
    width: 100%;
    height: 100%;
}
@media (min-width: 1000px){
    .card_student_img img{
        width: 70%;
        height: 70%;
        transition: all 1s ease;
    }
    
    .card_student_img img:hover{
        width: 100%;
        height: 100%;
        transform: scale(0.9);
    }
}


